<template>
	<div class="container">
		<loginForm/>
	</div>
</template>

<script>
import loginForm from '@/components/loginForm'
export default {
  name: 'login',
  components: {
	loginForm
  }
}
</script>
