<template>
  <div class="container">
  	<h3>Formulario de Registro</h3>
  	<registerForm/>
  </div>
</template>

<script>
import registerForm from '@/components/registerForm'
export default {
  name: 'register',
  components: {
    registerForm
  }
}
</script>
