<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    @submit.prevent="validate"
  >
    <v-text-field
      label="Usuario"
      required
      v-model="form.userName"
      :rules="userNameRules"
    ></v-text-field>

    <v-text-field
      label="Contraseña"
      required
      v-model="form.password"
      :rules="passwordRules"
      type="password"
    ></v-text-field>
    <v-btn type="submit">Entrar</v-btn>
  </v-form>
</template>

<script>

import  { mapActions } from 'vuex'

export default {
    name:'loginForm',
    data () {
      return {
        valid: true,
        form:{
          userName:'',
          password:'',
        },
        userNameRules: [
          v => !!v || 'Ingrese su nombre de Usuario',
        ],
        passwordRules: [
          v => !!v || 'Ingrese la contraseña',
        ]
      }
    },
    methods: {
      ...mapActions({
        logIn: 'register/singUp'
      }),
      validate () {
        if (this.$refs.form.validate()) {
          this.logIn(this.form)
        }
      },
    }
  }
</script>