<template>
  <v-app-bar
      app
      color="secondary"
      dark
    >
      <h3>Redimiendo mis compras</h3>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn 
          text
          :to="{
            'name':'login'
          }"
        >Iniciar Sesión
        </v-btn>
        <v-btn
          text
          :to="{
            'name':'register'
          }"
        >Registro</v-btn>
        <v-btn
          text
        >Cerrar Sesión</v-btn>
        <v-menu class="hidden-md-and-up">
          <v-app-bar-nav-icon ></v-app-bar-nav-icon>
          <v-list >
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title
                  text
                  :to="{
                    'name':'login'
                  }"
                >Iniciar Sesión</v-list-tile-title>
                <v-list-tile-title></v-list-tile-title>
                <v-list-tile-title></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-app-bar>
</template>

<script>

export default {
  name: 'navBar',
  components: {
    
  }
}
</script>
