<script>
import  { mapActions } from 'vuex'

export default {
    name:'registerForm',
    data (){
      return {
        valid: true,
        name:'',
        nameRules: [
          v => !!v || 'Ingrese su nombre',
          v => (v && v.length >= 5) || 'Debe tener al menos 5 caracteres'
        ],
        userName:'',
        userNameRules: [
          v => !!v || 'Ingrese un nombre de usuario',
          v => (v && v.length >= 4) || 'Debe tener al menos 4 caracteres'
        ],
        password: '',
        passwordRules: [
          v => !!v || 'Ingrese una contraseña',
          v => (v && v.length >= 6) || 'Debe contener al menos 6 caracteres'
        ],
        birthDate: new Date().toISOString().substr(0, 10),
        terminos: false,
        avisoPrivacidad: false,
        phone:'',
        dialog: false,
        dialog2: false,
      }
    },

    methods: {
      ...mapActions({
        singUp: 'register/singUp'
      }),
      validate () {
        if (this.$refs.form.validate()) {
          this.register(this.form)
        }
      },
      reset () {
        this.$refs.form.reset()
      },
    }
  }
</script>
<template>
  <div class="register-form">
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      @submit.prevent="validate"
    >
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <v-text-field
            v-model="name"
            :rules="nameRules"
            label="Nombre"
            required
          ></v-text-field>
        </div>
        <div class="col md-6">
          <v-text-field
            v-model="userName"
            :rules="userNameRules"
            label="Usuario"
            required
          ></v-text-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Contraseña"
            required
            type="password"
          ></v-text-field>
        </div>
        <div class="col-md-6">
          <v-text-field
            v-model="phone"
            label="Teléfono"
            type="number"
          ></v-text-field>
        </div>
        <div class="col-md-6">
          <label for="birthDate">Fecha de Nacimiento</label><br>
            <v-row justify="center">
              <v-date-picker v-model="birthDate"></v-date-picker>
            </v-row>
        </div>
        <div class="col-md-6">
          <v-dialog
            v-model="dialog"
            scrollable
            max-width="300px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                v-bind="attrs"
                v-on="on"
                small
              >
                Aviso de privacidad
              </v-btn> | 
            </template>
            <v-card>
              <v-card-title>Aviso de Privacidad</v-card-title>
              <v-divider></v-divider>
              <v-card-text style="height: 300px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quod, delectus ut. Quis ducimus officia at molestias doloremque sunt, ad itaque modi suscipit rerum dignissimos, enim. Sequi culpa, cupiditate et!</p>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-checkbox
                  v-model="avisoPrivacidad"
                  :rules="[v => !!v || 'Debe aceptar el aviso de privacidad!']"
                  label="Aceptar Aviso de privacidad"
                  required
                ></v-checkbox>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog
            v-model="dialog2"
            scrollable
            max-width="300px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                v-bind="attrs"
                v-on="on"
                small
              >
                Términos y condiciones
              </v-btn>
            </template>
            <v-card>
              <v-card-title>Términos y condiciones</v-card-title>
              <v-divider></v-divider>
              <v-card-text style="height: 300px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quod, delectus ut. Quis ducimus officia at molestias doloremque sunt, ad itaque modi suscipit rerum dignissimos, enim. Sequi culpa, cupiditate et!</p>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-checkbox
                  v-model="terminos"
                  :rules="[v => !!v || 'Debe aceptar los términos y condiciones!']"
                  label="Aceptar Términos y condiciones"
                  required
                ></v-checkbox>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </div>
    </div>
      <v-btn 
        type="submit" 
        color="success"
      >Registrar</v-btn>
      | 
      <v-btn
        color="error"
        @click="reset"
      >
        Limpiar Formulario
      </v-btn>
    </v-form>
  </div>
</template>

<style>
  .register-form {
    
  }
</style>